@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@font-face {
  font-family: "Nexa Slab";
  src: url("../public/fonts/NexaSlab/NexaSlab-Light.woff2") format("woff2"),
    url("../public/fonts/NexaSlab/NexaSlab-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa Slab";
  src: url("../public/fonts/NexaSlab/NexaSlabBlack.woff2") format("woff2"),
    url("../public/fonts/NexaSlab/NexaSlabBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa Slab";
  src: url("../public/fonts/NexaSlab/NexaSlab-Bold.woff2") format("woff2"),
    url("../public/fonts/NexaSlab/NexaSlab-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa Slab";
  src: url("../public/fonts/NexaSlab/NexaSlab-Regular.woff2") format("woff2"),
    url("../public/fonts/NexaSlab/NexaSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.swiper-component-wrapper .swiper-slide{
  @apply h-auto
}
.bullets .swiper-pagination-bullet{
  @apply lg:hidden
}
.bullets .swiper-pagination-bullet-active{
  @apply relative bg-tertiaryOrange w-4 h-2
}
.swiper-wrapper .swiper-slide {
  @apply h-auto;
}
.bullets .swiper-pagination {
  /* background-color: black; */
  width: 100%;
  bottom: 50%;
}
html {
  @apply scroll-smooth;
}
